.vscode

target/
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
core/.classpath
core/.project
core/.settings/org.eclipse.core.resources.prefs
core/.settings/org.eclipse.jdt.apt.core.prefs
core/.settings/org.eclipse.jdt.core.prefs
core/.settings/org.eclipse.m2e.core.prefs
guice/.classpath
guice/.project
guice/.settings/org.eclipse.core.resources.prefs
guice/.settings/org.eclipse.jdt.apt.core.prefs
guice/.settings/org.eclipse.jdt.core.prefs
guice/.settings/org.eclipse.m2e.core.prefs
